.cards{
    margin-left: 444px;
    width: 648px;
    height: 584px;
    margin-top: 54px;
}

.card{
    border-bottom: 1px solid #3b3b3b;
    margin-top: 44px;
    height: 224px;
}

.card_card{
    margin-left: 19px;
    margin-top: 19px;
    background: linear-gradient(to right, #14801a, #2fc237);
    border-radius: 14px;
    height: 184px;
    position: absolute;
    width: 284px;
}

.date{
    margin-left: 224px;
    font-family: "Heebo";
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.type{
    margin-left: 334px;
    font-family: "Heebo";
    font-size: 21px;
    font-weight: 500;
    color: #969593;
    position: absolute;
}

.balance{
    margin-top: 64px;
    margin-left: 334px;
    font-family: "Heebo";
    font-size: 24px;
    font-weight: 600;
    color: white;
    position: absolute;
}

.pin{
    margin-top: 94px;
    margin-left: 78px;
    font-family: "Heebo";
    font-size: 19px;
    font-weight: 400;
    color: white;
}

.cards-title{
    margin-left: 24px;
    font-family: "Heebo";
    color: white;
}

.status h2{
    font-weight: 400;
    font-size: 19px;
    color: #2fc237;
    font-family: "Heebo";
    margin-top: 124px;
    margin-left: 334px;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;
}

.mobile-navbar{
    display: none;
    background-color: #1f1f1f;
    height: 84px;
    width: 424px;
    left: 0;
    bottom: 0;
    position: fixed;
}

.mobile-navbar ul li{
    margin-top: 9px;
    margin-left: 34px;
    font-size: 34px;
    display: inline-flex;
    list-style: none;
}

@media screen and (max-width: 500px){
    .navbar{
        display: none;
    }

    .mobile-navbar{
        display: block;
    }

    .cards{
        width: 384px;
        margin-left: 0px;
    }

    .card{
        width: 384px;
    }

    .card_card{
        height: 114px;
        width: 184px;
    }

    .date{
        margin-left: 119px;
    }
    
    .type{
        margin-left: 234px;
    }
    
    .balance{
        margin-top: 54px;
        margin-left: 234px;
    }
    
    .pin{
        margin-top: 48px;
        margin-left: 34px;
        font-size: 14px;
    }

    .status h2{
        margin-top: 94px;
        margin-left: 234px;
    }
    
    .cards-title{
        margin-left: 24px;
        font-family: "Heebo";
        color: white;
    }

}