.movements{
    height: 314px;
    margin-top: 114px;
    margin-left: 384px;
    width: 948px;
    position: absolute;
}

.movements-title{
    border-bottom: 1px solid #3b3b3b;
}

.movement{
    border-bottom: 1px solid #3b3b3b;
    width: 944px;
    display: inline-flex;
    height: 84px;
}

.users-movement{
    height: 84px;
    margin-left: 64px;
    width: 184px;
}

.dates-movement{
    height: 84px;
    margin-left: 44px;
    width: 184px;
}

.user-movement{
    margin-top: 17px;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 17px;
    color: white;
}

.value-date-movement{
    margin-top: 17px;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 17px;
    color: white;
}

.type-movement{
    margin-top: -10.4px;
    font-weight: 300;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 11.4px;
    color: white;
}

.title-date-movement{
    margin-top: -10.4px;
    font-weight: 300;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 11.4px;
    color: white;
}

.money-movement{
    font-weight: 500;
    margin-top: 24px;
    margin-left: 128px;
    font-family: "Heebo";
    font-size: 24px;
    color: white;
}

.mobile-navbar{
    display: none;
    background-color: #1f1f1f;
    height: 84px;
    width: 424px;
    left: 0;
    bottom: 0;
    position: fixed;
}

.mobile-navbar ul li{
    margin-top: 9px;
    margin-left: 34px;
    font-size: 34px;
    display: inline-flex;
    list-style: none;
}

@media screen and (max-width: 500px){
    .navbar{
        display: none;
    }

    .mobile-navbar{
        display: block;
    }

    .movements{
        width: 374px;
        height: 648px;
        overflow-y: scroll;
        margin-left: 14px;
    }

    .movement{
        width: 374px;
    }

    .users-movement{
        margin-left: -14px;
    }

    .money-movement{
        font-weight: 500;
        margin-left: -54px;
        font-family: "Heebo";
        font-size: 17px;
        color: white;
    }
    
    .dates-movement{
        margin-left: -18px;
    }

}

.movements-title h2{
    font-family: "Heebo";
    font-size: 24px;
    color: white;
}