.movements{
    height: 314px;
    margin-top: 614px;
    margin-left: 384px;
    width: 948px;
    position: absolute;
}

.last-movements-title{
    border-bottom: 1px solid #3b3b3b;
}

.movement{
    border-bottom: 1px solid #3b3b3b;
    width: 944px;
    display: inline-flex;
    height: 84px;
}

.users-movement{
    height: 84px;
    margin-left: 64px;
    width: 184px;
}

.dates-movement{
    height: 84px;
    margin-left: 44px;
    width: 184px;
}

.user-movement{
    margin-top: 17px;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 17px;
    color: white;
}

.value-date-movement{
    margin-top: 17px;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 17px;
    color: white;
}

.type-movement{
    margin-top: -10.4px;
    font-weight: 300;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 11.4px;
    color: white;
}

.title-date-movement{
    margin-top: -10.4px;
    font-weight: 300;
    margin-left: 14px;
    font-family: "Heebo";
    font-size: 11.4px;
    color: white;
}

.money-movement{
    font-weight: 500;
    margin-top: 24px;
    margin-left: 128px;
    font-family: "Heebo";
    font-size: 24px;
    color: white;
}

.last-movements-title h2{
    font-family: "Heebo";
    font-size: 24px;
    color: white;
}