.transfer{
    margin-top: 148px;
    margin-left: 448px;
    height: 344px;
    width: 544px;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn{
    margin-top: 148px;
    margin-left: 64px;
    font-family: "Heebo";
    border-radius: 20px;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    height: 44px;
    width: 384px;
}

.transfer_error{
    font-size: 10.4px;
    background-color: #d16969;
    border-radius: 20px;
    margin-top: -444px;
    margin-left: 448px;
    height: 84px;
    width: 544px;
    border: 4px solid #b52d2d;
}

.transfer_completed{
    font-size: 10.4px;
    background-color: #95e084;
    border-radius: 20px;
    margin-top: -444px;
    margin-left: 448px;
    height: 84px;
    width: 544px;
    border: 4px solid #3aa123;
}

.transfer_error h2{
    text-align: center;
    font-weight: 500;
    font-family: "Heebo";
    margin-top: 28px;
    color: #b52d2d;
}

.transfer_completed h2{
    text-align: center;
    font-weight: 500;
    font-family: "Heebo";
    margin-top: 28px;
    color: #3aa123;
}

.mobile-navbar{
    display: none;
    background-color: #1f1f1f;
    height: 84px;
    width: 424px;
    left: 0;
    bottom: 0;
    position: fixed;
}

.mobile-navbar ul li{
    margin-top: 9px;
    margin-left: 34px;
    font-size: 34px;
    display: inline-flex;
    list-style: none;
}

@media screen and (max-width: 500px){
    .navbar{
        display: none;
    }

    .transfer{
        margin-left: 44px !important;
        width: 244px !important;
    }

    .mobile-navbar{
        display: block;
    }

    .btn{
        margin-top: 54px;
        margin-left: 44px !important;
        width: 194px !important;
    }

    .transfer_error{
        margin-left: 34px;
        height: 84px;
        width: 284px;
    }

    .transfer_completed{
        margin-left: 34px;
        height: 84px;
        width: 284px;
    }
    

    .target_iban, .target_name, .city, .money, .reason{
        width: 244px !important;
    }

}


.target_iban, .target_name, .city, .money, .reason{
    margin-top: 44px;
    margin-left: 21px;
    font-family: "Heebo";
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 1px solid #3b3b3b;
    background-color: transparent;
    height: 44px;
    width: 484px;
}